{% extends 'music/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>
    Этот проект для экзамена представляет собой веб-приложение о музыкальных жанрах, исполнителях и их биографиях.
    Он основан на Django и использует базу данных SQLite 3 для хранения информации.
</p>

<h2>Функциональность</h2>
<ol>
    <li><strong>Жанры музыки:</strong> Предоставление информации о различных музыкальных жанрах.</li>
    <li><strong>Исполнители:</strong> Подробная информация о различных музыкальных исполнителях.</li>
    <li><strong>Шаблоны:</strong> Использование шаблонов для создания пользовательского интерфейса.</li>
</ol>

<h2>Основные технологии</h2>
<ul>
    <li><strong>Django:</strong> Фреймворк Python для создания веб-приложений.</li>
    <li><strong>SQLite 3:</strong> Легковесная реляционная база данных.</li>
    <li><strong>Шаблоны:</strong> Использование шаблонов для отображения данных.</li>
</ul>

<h2>Возможные развития</h2>
<ul>
    <li>Добавление пользовательских профилей.</li>
    <li>Расширенный поиск по музыкальным жанрам и исполнителям.</li>
    <li>Административная панель для управления контентом.</li>
</ul>

{% endblock %}
